<div class="main-container">
	<div class="user-details">
		<div class="user-container border">
			<div class="user">
				<div class="user-img">
					<%= image_tag("user.png")%>
				</div>
				<div class="user-text border">
					<h2 class="user-heading"><%= @user.Name %></h2>
					<p class="user-posts">Number of posts: <%= @user.PostsCounter || 0%></p>
				</div>
			</div>
		</div>
		<div class="user-bio border">
			<p>Bio</p>
			<p><%= @user.Bio %></p>
		</div>
		<% @user.return_three_most_recent_posts.each do |post| %>
			<div class="post-list border">
				<div>
						<h3><%= link_to post.Title, user_post_path(@user.id, post.id)%></h3>
					<p class="post-text"><%=post.Text.length < 100 ? post.Text.html_safe: truncate(p.Text.html_safe, length: 100, omission: '...') %></p>
				</div>
				<p>Comments: <%= post.CommentsCounter || 0%>, Likes: <%= post.LikesCounter || 0%></p>
			</div>
		<% end %>
		<div class="button-container">
		  <%= link_to 'See all posts', user_posts_path(@user)%>	  
		</div>
	</div>
</div>